.popup {
    align-content: center;
}

.image {
    float: left;
    width: 35%;
    padding-left: 10%;
    padding-bottom: 5%;
    align-content: center;
    justify-content: center;
    
}

.info {
    float: right;
    width: 65%;
    overflow-y: auto;
    align-content: center;
}

.clear {
    clear: both;
}