.popup {
    align-content: center;
}

.image {
    float: left;
    width: 40%;
    padding-left: 5%;
    padding-bottom: 5%;
    align-content: center;
    justify-content: center;
    
}

.info {
    float: right;
    width: 60%;
    overflow-y: auto;
    align-content: center;
}

.clear {
    clear: both;
}