@media all and (min-width: 480px) {
  .PasswordForget {
    padding: 30px 0;
  }

  .PasswordForget form {
    margin: 0 auto;
    max-width: 360px;
    font-size: 16px;
  }

  #err {
    color: red;
    font-size: 16px;
  }

  #login {
    font-size: 15px;
  }
}
